{{ansible_managed}}
{% for k, v in gunicorn_environment.items()|sort %}
{% if '__omit_place_holder__' not in v|string %}
{# truncate newlines to literal \n #}
{{k}}={{v | replace('\n', '\\n')}}
{% endif %}
{% endfor %}
{% if service_global_env is defined %}
{% for k, v in service_global_env.items()|sort %}
{{k}}={{v}}
{% endfor %}
{% endif %}
