{{ansible_managed}}
{% for k, v in gunicorn_environment.items()|sort %}
{% if '__omit_place_holder__' not in v|string %}
{# truncate newlines to literal \n #}
{{k}}={{v | replace('\n', '\\n')}}
{% endif %}
{% endfor %}
